// Custom styles.
.posts-expand {
    .post {
        margin-top: 60px;
        margin-bottom: 20px;
        padding: 25px;
        -webkit-box-shadow: 3px 4px 5px rgba(202, 213, 203, .3);
        -moz-box-shadow: 3px 4px 5px rgba(202, 213, 204, .3);
    }
}

.header {
	background-color: #abcd;
}